<!--
  Generated template for the WishlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Wishlist</ion-title>
        <button (click)="openCart()" class="cart" ion-button>
            <ion-icon name="ios-cart-outline"></ion-icon>
        </button>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="wishLists" *ngIf="wishLists">
        <div class="wishLists_grid">
            <div class="empty" *ngIf="wishLists.length == 0">
                <img src="assets/imgs/no_data.svg">
                <h4>Wishlist empty!</h4>
            </div>
            <div class="wishList" *ngFor="let wishList of wishLists">
                <ion-icon *ngIf="wishListsIds.indexOf(wishList._id) == -1" (click)="addToWishList(wishList)" name="ios-heart-outline"></ion-icon>
                <ion-icon *ngIf="wishListsIds.indexOf(wishList._id) != -1" (click)="removeFromWishList(wishList)" name="ios-heart"></ion-icon>
                <div class="img_container" (click)="openProduct(wishList)">
                    <div *ngIf="wishList.shop.category == 'Foods'">
                        <img *ngIf="wishList.foodImage.length==0" src="assets/imgs/food_place.svg">
                        <img *ngIf="wishList.foodImage.length>0" src="http://ec2-18-191-137-69.us-east-2.compute.amazonaws.com/{{wishList.foodImage[0].slice(0)}}">
                    </div>
                    <div *ngIf="wishList.shop.category == 'Electronics'">
                        <img *ngIf="wishList.electronicImage.length==0" src="assets/imgs/electronic_place.svg">
                        <img *ngIf="wishList.electronicImage.length>0" src="http://ec2-18-191-137-69.us-east-2.compute.amazonaws.com/{{wishList.electronicImage[0].slice(0)}}">
                    </div>
                    <div *ngIf="wishList.shop.category == 'Gifts'">
                        <img *ngIf="wishList.giftImage.length==0" src="assets/imgs/gift_place.svg">
                        <img *ngIf="wishList.giftImage.length>0" src="http://ec2-18-191-137-69.us-east-2.compute.amazonaws.com/{{wishList.giftImage[0].slice(0)}}">
                    </div>
                    <div *ngIf="wishList.shop.category == 'Clothes'">
                        <img *ngIf="wishList.clotheImage.length==0" src="assets/imgs/clothe_place.svg">
                        <img *ngIf="wishList.clotheImage.length>0" src="http://ec2-18-191-137-69.us-east-2.compute.amazonaws.com/{{wishList.clotheImage[0].slice(0)}}">
                    </div>
                    <div *ngIf="wishList.shop.category == 'Books'">
                        <img *ngIf="wishList.bookImage.length==0" src="assets/imgs/book_place.svg">
                        <img *ngIf="wishList.bookImage.length>0" src="http://ec2-18-191-137-69.us-east-2.compute.amazonaws.com/{{wishList.bookImage[0].slice(0)}}">
                    </div>
                </div>
                <h4 class="name" (click)="openProduct(wishlist)">{{wishList.name}}</h4>
                <p class="sub_category" *ngFor="let cat of wishList.category">{{cat}}</p>
                <h4 class="price">₹{{wishList.price}}</h4>
                <button class="add" (click)=addToCart(wishList)>Add to Cart</button>
            </div>
        </div>
    </div>
</ion-content>
